data-nodes/data1/data
data-nodes/data1/meta
data-nodes/data1/hh
data-nodes/data1/wal
data-nodes/data2/data
data-nodes/data2/meta
data-nodes/data2/hh
data-nodes/data2/wal
data-nodes/data2
meta-nodes/meta1
meta-nodes/meta2
meta-nodes/meta3
monitor/influxdb-monitor/data
variables.env
